/*+++++font-family: 'Playfair Display', serif;+++++*/
/*+++++font-family: 'Inconsolata', monospace;+++++*/
/*+++++font-family: 'Ubuntu', sans-serif;+++++*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #626262;
}

/*++++++++++header start++++++++++*/
header {
	padding: 20px 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	width: 15%;
	float: left;
	margin-top: 10px;
}
.logo span {
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
	font-weight: 400px; 
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 5px;
}
.menu {
	width: 70%;
	float: right;
}
.menu ul {
	float: right;
}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a {
	text-decoration: none;
	padding: 0 60px;
	display: block;
	font-size: 14px;
	color: #626262;
	text-transform: uppercase;
}
.menu ul li a:hover {
	color: #007ABD;
	transition: .2s;
}
.menu ul li:last-child a {
	padding-right: 0;
}
/*++++++++++header end++++++++++*/



/*++++++++++banner start++++++++++*/
/*#banner {}*/
/*.wrapper {}*/
.wrapper img {
	width: 100%;
}
/*++++++++++banner end++++++++++*/



/*++++++++++getaway start++++++++++*/
#getway {
	padding: 70px 0 100px;
}
.wrapper2 {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}
/*.getway_content {}*/
.photo {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300px;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
}
.title_text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400px;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.getway_content .text {
	font-size: 14px;
	line-height: 25px;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-bottom: 45px;
}
/*++++++++++getaway end++++++++++*/



/*++++++++++newsetter start++++++++++*/
#newsletter {
    background-color: #f0f0f0;
    min-height: 100px;
    margin-top: 12px;
    margin-bottom: 20px;
    padding: 10px 0px;
}
.signup {
    text-align: center;
}
.signup h3 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #333333;
}
.signup div {
    width: 450px;
    position: relative;
    left: 0px;
    right: 0px;
    margin: 84px auto;
}
.signup div input {
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    width: 400px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    padding: 0px 3px 14px;
    outline: none;
}
.signup div button {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 10px;
    right: 16px;
}
/*++++++++++newsetter end++++++++++*/




/*++++++++++blog start++++++++++*/
/*#blog {}*/
/*.wrapper2 {}*/
.single {
	width: 47%;
	/*border: 1px solid;*/
	float: left;
	margin: 40px 0;
}
.single:nth-child(even) {
	margin-left: 5.5%;
}
.single_img {
	margin-bottom: 25px;
}
.single_img img {
	width: 100%;
}
/*.photo {}*/
/*.title_text {}*/
/*.text {}*/
/*++++++++++blog end++++++++++*/



/*++++++++++button start++++++++++*/
/*#button {}*/
.btn {
	text-align: center;
}
button.news {
	font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 22px;
    border: 2px solid #626262;
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 150px;
    color: #626262;
	padding: 20px 40px;       
}
button.news:hover {
	background-color:#626262;
	color:white;
	transition: .5s;
}
/*++++++++++button end ++++++++++*/



/*++++++++++footer start++++++++++*/
footer {
	background-color: #f0f0f0;
	padding: 30px 0;
}
.terms {
	width: 30%;
	/*border: 1px solid;*/
	float: left;
}
.terms ul {
	float: left;
}
.terms ul li {
	float: left;
	list-style: none;
}
.terms ul li a {
	text-decoration: none;
	padding: 0 10px;
	display: block;
}
.terms ul li a:hover {
	color: blue;
	transition: .2s;
}
.icons {
	width: 30%;
	/*border: 1px solid;*/
	float: right;
}
.icons ul {
	float: right;
}
.icons ul li {
	float: left;
	list-style: none;
}
.icons ul li a {
	text-decoration: none;
	padding: 0 10px;
	display: block;
}
.icons ul li a:hover {
	color: green;
	transition: .2s;
}
/*++++++++++footer end++++++++++*/